* {
    box-sizing: border-box;
}

body {
    display:flex; flex-direction:column; align-items:center;
    min-height:100vh;
}

element.style {
    height: 200px;
    width: 100%;
}

.card {
    width: 700px;
    top: 100px;
    /* padding-left: 30px; */
    padding-top: 50px;
    margin-right: 0px;
    justify-content: center;
    border-bottom: #918E9B;;
    border-bottom-style: solid;
    border-bottom-width: 1px;
} 

.nav--text {
    color: white;
    font-family: Inter;
    margin-top: 18px;
}

.card--image {
    display: block;
    float: left;
    justify-content: flex-start;
    width: 160px;
    height: 190px;
    top: 100px;
    border-radius: 5px;
    margin-right: 0px;
    object-fit: cover;
}

.card--text {
    /* width: 350px; */
    height: 45px;
    left: 184px;
    top: 203px;
    font-family: 'Inter';
    font-style: regular; 
    font-size: 12px;
    line-height: 15px;
    line-height: 150%;
    text-align: left;
    vertical-align: top;
    color: #2B283A;
    margin-top: 5px;
    margin-bottom: 75px;
}

.card--title {
    font-family: 'Inter';
    font-style: bold;
    font-size: 30px;
    line-height: 30px;
    font-weight: 650;
    text-align: left;
    vertical-align: top;
    color: #2B283A;
    padding-top: 10px;
    padding-bottom: 25px;
}

.card--pin {
    width: 18px;
    height: 12px;
    left: 184px;
    top: 120px;
    padding-right: 5px;
}

.card--location {
    font-family: 'Inter';    
    font-weight: 400;    
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 3px;
    padding-right: 10px;
}

.card--maps {
    /* position: absolute; */
    width: 106px;
    height: 13px;
    left: 247px;
    top: 119px;
    font-family: 'Inter';
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #918E9B;
}

.card--date {
    font-family: 'Inter';
    color: #2B283A;
    font-weight: 600;
    font-size: 14px;
}

nav {
    position: absolute;
    width: 100%;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #F55A5A;
    display: flex;
    justify-content: center;
}

.nav--logo {
    height: 40px;
    left: 0px;
    top: 0px;
    background-color: #F55A5A;
    max-width: 300px;
    display: flex;
    margin-top: 9px;
    
}

.card:first-of-type {
    margin-top: 50px;
}

.card:last-of-type {
    border-bottom-style: none;
}

.card-section1 {
    width: 550px;
    height: 704px;  
    /* margin-right: 10px; */
    display: block;
    padding-right: 100px;
}

.card--section2 {
    margin-left: 100px;
    padding-top: 10px;
    padding-left: 80px;
}

.hero {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.hero--text {
    font-family: 'Inter';
    padding-top: 0px;
    font-size: 17px;
    color: #666568;
    text-align: center;
    width: 600px;
    align-self: center;
    
}

.hero--img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-top: 100px;
    /* margin-left: 150px; */
    object-fit: cover;
    align-self: center;
}